<div id="footer">
  <div class="footerDiv" style="width: 15%; float:left;">
  <a href="/contacts/new">Add A Contact</a>
  </div>
  <div class="footerDiv" style="width: 15%; float:left;">
  <a href="/contacts/clear">Clear All Contacts</a>
  </div>
  <div class="footerDiv" style="width: 15%; float:left;">
  <a href="/contacts">View all Contacts</a>
  </div>
  <div class="footerDiv" style="width: 15%; float:left;">
  <a href="/">Return to Homepage</a>
  </div>
</div>
