@{
  Layout = "_Layout";
}

<h1>Congratulations for Adding a New Contact</h1>

<h3>First Name: @Model.GetFirstName()</h3>
<h3>Last Name: @Model.GetLastName()</h3>
<h3>Phone Number: @Model.GetPhoneNumber()</h3>
<h3>Address: @Model.GetAddress()</h3>


  <a href="/contacts/new">Add Another Contact</a>
  <a href="/contacts">View all Contacts</a>
  <a href="/">Return to Homepage</a>
