@{
  Layout = "_Layout";
}

<h1>Contact Details</h1>

  <h3>First Name: @Model.GetFirstName()</h3>
  <h3>Last Name: @Model.GetLastName()</h3>
  <h3>Phone Number: @Model.GetPhoneNumber()</h3>
  <h3>Address: @Model.GetAddress()</h3>
