@{
  Layout = "_Layout";
}

<div class="container">
<h1 id="allContacts">Contacts List</h1>

@if (@Model.Count == 0)
  {
  <h3>No contacts have been added yet!</h3>
  }

  <ul>
@foreach (var contact in Model)
{
<li class="listOut"><a href='/contacts/@contact.GetId()'>@contact.GetLastName(), @contact.GetFirstName()</a></li>
}
  </ul>
</div>
